.deskPlan {
    margin: 20px auto;
    width: 100%;
}

#managers-offices {
    display:flex;
    float:left;
    height: 50px;
    width: 250px;
    border: 2px solid black;
    padding: 5px;
    background-color: blue;
    justify-content: center;
}
.AM-office {
    margin-left: 20px;
}
.GOS-office {
    margin-left: 20px;
}