#offices {
    display:flex;
    float:center;
    height: 75px;
    width: 300px;
    border: 2px solid black;
    padding: 5px;
    justify-content: center;
    div-align:center;
    margin:5px;
    margin-right:20px;
    margin-bottom: 50px;
}

.managers {
    padding: 10px;
    border: 2px solid black;
    background-color: purple;
}

body {
    background-color: red;
}

.desk {
    display: flex;
    float:left;
    background-color: white;
    border: 2px solid black;
    height: 50px;
    width: 75px;
}